<section class="corporate-banner">
  <!-- heading 1-->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 caption-corporate">
        <h2>Be a Leader. Be a Team Player. BE WELL.</h2>
        <div class="caption-bg">
          <p>The BEauty and WELLness Initiative, BeWell is a coming together of professionals in the industries of beauty and wellness. Our goal is to provide a complete and whole approach to the health and happiness of your office environment.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Offerings-->
<section>
  <!-- 4 box-->
  <div class="container icns">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">
        <h2 class="sh1">Service Offerings</h2>
      </div>

      <div class="col-md-12">
        <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
          <div class="corporate-off">
            <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('nail-bar.png')%>"></figure>
            <h1>Nail Bar</h1>
            <h2>Manicure<br />
              Menicure </h2>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
          <div class="corporate-off">
            <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('wellness-bar.png')%>"></figure>
            <h1>Wellness Bar</h1>
            <h2>Chair Massage <br />
              Mini Facial </h2>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
          <div class="corporate-off">
            <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('beauty-bar.png')%>"></figure>
            <h1>Beauty Bar</h1>
            <h2>Mini Make-Over <br />
              Brow Shaping </h2>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
          <div class="corporate-off">
            <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('hair-bar.png')%>"></figure>
            <h1>Hair Bar</h1>
            <h2>Men's Clean-Up Cut <br />
              Women's Blow-Out </h2>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- 4 images box -->
  <div class="container corporate-photo phts">
    <div class="row" style="margin: 0 7%;">
      <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
        <div class="corporate-off">
          <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="http://localhost:3000/assets/Stocksy_txp0160f8c5T46100_Medium_48661-00e5ab28a7e47765e5b88a8d5e2126bab10029fcece858c7bef5b5e088ac0631.png"></figure>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
        <div class="corporate-off">
          <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="http://localhost:3000/assets/212497-7b6ac465d71e7df86d4ed56b54f0b034b84406f9003cf60aca9b8e145a131d77.png"></figure>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
        <div class="corporate-off">
          <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="http://localhost:3000/assets/478949-61397d5ee7013bc0a753c0463dbdb0a01b7567f9bc71316387c49f833b291bd7.png"></figure>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
        <div class="corporate-off">
          <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="http://localhost:3000/assets/36714-c340b5c40daf57dc7cca00274d9f0420cec1661f03946fe861d0a3ca79fdbfae.png"></figure>
        </div>
      </div>
    </div>

      </div>
  </div>
</section>

<section class="mb50">
  <!-- heading 1-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2 class="sh1">Benefits of BeWell</h2>
      </div>
    </div>
    <div class="benefits-bewell">
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Reduce.png')%>"></figure>
        <h1>Reduce <br />
          Stress</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Increase.png')%>"></figure>
        <h1>Increase
          <br />Morale</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('IncreaseConfidence.png')%>"></figure>
        <h1>Increase
          <br />Confidence</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Increase-Creativity.png')%>"></figure>
        <h1>Increase
          <br />Creativity</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center" style="padding-right:0px;">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Increase-Productivity.png')%>"></figure>
        <h1>Increase
          <br />Productivity</h1>
      </div>
    </div>
  </div>
</section>
<section class="mb50">
  <!-- heading 1-->
  <div class="container">


    <div class="text-center mt35">
      <p class="join-now-link"><a href="#" >Join Now!</a></p>    <p class="text-email">Email&nbsp;<span class="email-type">BeWell@reddera.com</span> for more information</p>
    </div>
    </div>
</section>
