<!-- Elite Inquiry Popup-->
<script>
    $('document').on("click","#elitebtn",function (e) {
        e.preventDefault();
        console.log('smmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmdsd');
        return false;
    });
</script>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     xmlns="http://www.w3.org/1999/html">
  <div class="bookingpop">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body elitepop">
            <div class="col-md-12">
              <h2 class="sh7">Reddera Elite Inquiry</h2>
            </div>
            <div class="col-md-12">
              <div class="row">
                <h1>Tell us who you are and where we can reach you!</h1>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name"> First Name</label>
                      <input type="text" required placeholder="First Name" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Last Name</label>
                      <input type="text" required placeholder="Last Name" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Phone Number</label>
                      <input type="number" required placeholder="Phone Number" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">E-mail</label>
                      <input type="text" required placeholder="email" id="name" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <h1>When and where would you like to be serviced?</h1>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name"> First Name</label>
                      <input type="text" required placeholder="First Name" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Last Name</label>
                      <input type="text" required placeholder="Last Name" id="name" class="form-control">
                    </div>
                  </div>
                  <div class="cbi-box-left">
                    <div class="cbi-pop-qt mb50">
                      <h1>How many employees will receive services?</h1>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test1" type="checkbox">
                          <label for="test1">Early Morning | 6am - 8am</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test2" type="checkbox">
                          <label for="test2">Evening | 5pm - 8pm</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test3" type="checkbox">
                          <label for="test3">Morning | 9am - 11am</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test4" type="checkbox">
                          <label for="test4">Late Night | 9pm - 11pm</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test5" type="checkbox">
                          <label for="test5">Afternoon | 12pm - 4pm</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!--<div class="cbi-pop-qt"><input id="test6" type="checkbox"><label for="test6">Late Night | 9pm - 11pm</label></div>-->
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="cbi-pop-qt mb50">
                      <h1>What services would you like to book?</h1>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test7" type="checkbox">
                          <label for="test7">Women’s Hair</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test8" type="checkbox">
                          <label for="test8">Men’s Grooming</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test9" type="checkbox">
                          <label for="test9">Women’s Ethnic Hair</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test10" type="checkbox">
                          <label for="test10">Massages</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test11" type="checkbox">
                          <label for="test11">Makeup & Lashes</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test12" type="checkbox">
                          <label for="test12">Facials</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test13" type="checkbox">
                          <label for="test13">Nails</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cbi-pop-qt">
                          <input id="test14" type="checkbox">
                          <label for="test14">Hair Removal</label>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="cbi-pop-qt mb50">
                      <h1>How many Professionals would you like to book?</h1>
                      <div class="col-md-12">
                        <div class="cbi-pop-qt">
                          <input id="test15" type="checkbox">
                          <label for="test15">1</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="cbi-pop-qt">
                          <input id="test16" type="checkbox">
                          <label for="test16">2 - 5</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="cbi-pop-qt">
                          <input id="test17" type="checkbox">
                          <label for="test17">5+</label>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="cbi-pop-qt mb50">
                      <h1>How many Professionals would you like to book?</h1>
                      <div class="col-md-12">
                        <div class="form-group wid100">
                          <textarea rows="4" cols="50"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <!--btn -->
                <div class="clearfix"></div>
                <div class="row text-center">
                  <button id="btnContactUs" class="btn-confirm btn btn-small btn-primary" type="submit"> Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--elite popup form-->

<main class="wrapper">
  <section class="elite-banner elite-bannerBox">
    <!-- heading 1-->
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3">
          <img class="lazy" src="<%=asset_path('logo-elite.png')%>" alt="">
        </div>

        <div class="col-md-9">
          <p class="elite-para1">Reddera’s <strong>ELITE</strong> gives you a hands on experience with any beauty and wellness service you want.</p>
          <p class="elite-para2">Coordinating directly with a Reddera Specialist is perfect when:</p>

          <ul class="elite-bannerBox">
            <li>You want to book a more customized service than we offer.</li>
            <li>Need specific Pros for a special event, party, or even girl’s night.</li>
            <li>Need a last minute service ASAP and want us to chose a Pro for you.</li>
          </ul>



      </div>

        <div class="col-md-12 text-center">
          <div class="elit-req-btn">

            <a id="elitebtn" ><img class="" src="<%=asset_path('request-btn-gold.png')%>" alt=""></a></div>

        </div>

      </div>

    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2 class="sh12">How Elite Works</h2>
      </div>
    </div>

    <div style="position: relative; margin-top:5%; margin-bottom:5%;">
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="elite-box">
          <figure data-wow-delay=".1s" class="wow bounceIn text-primary pull-right" style="visibility: visible;margin-right: 62px; animation-delay: 0.1s; animation-name: bounceIn;"><img class="lazy" src="<%=asset_path('elite-inq.png')%>"></figure>
          <!--<h3><span class="nhc">1.</span>&nbsp;Browse</h3>-->
          <div class="clearfix"></div>
          <p class="text-muted">Fill out a short Reddera Elite Inquiry </br>
            form to let us know how we can </br>
            be of assistance.</p>
        </div>

      </div>

      <span class="arrow-pos"><img src="<%=asset_path('arrow2.png')%>"></span>

      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="elite-box">
          <figure data-wow-delay=".2s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"><img class="lazy" src="<%=asset_path('elite-chat.png')%>"></figure>
          <!--<h3><span class="nhc">2.</span>&nbsp;Select</h3>-->
          <p class="text-muted">In no time, an Elite Specialist will reach </br>
            out to you to chat about the details </br>
            of your request.</p>
        </div>
      </div>

      <span class="arrow-pos1"><img src="<%=asset_path('arrow2.png')%>"></span>

      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="elite-box">
          <figure data-wow-delay=".3s" class="wow bounceIn text-primary pull-right" style="visibility: visible; margin-right: 44px;animation-delay: 0.3s; animation-name: bounceIn;"><img class="lazy" src="<%=asset_path('elite-pamp.png')%>"></figure>
          <!--<h3><span class="nhc">3.</span>&nbsp;Get<br/>-->
          <!--Pampered</h3>-->
          <div class="clearfix"></div>
          <p class="text-muted">Your Elite Specialist will review your </br>
            request and create a custom </br>
            booking just for you!</p>
        </div>
      </div>

    </div>

  </div>

</main>
<section class="elite-btm-banner">
  <!-- heading 1-->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="caption-bg giftbox2">
          <h2>We get it, sometimes life can be a bit complicated, <br>
            but getting pampered shouldn't be.
          </h2>
          <h3>Reddera Elite is here to make your booking experience seamless and cater <br>
            to your exact needs by booking with a Reddera specialist. 
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>






<%#=render 'layouts/footer' %>

<!--</main>-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="assets/javascripts/jquery.min.js"></script>-->
<!--&lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;-->
<!--<script src="assets/javascripts/bootstrap.js"></script>-->

<!--<script>$('#myModal4').modal('show');</script>-->



<!--<script src="vender/js/bootstrap-datepicker.js"></script>-->

<script>
    $('#elitebtn').click(function(){
        $('#myModal4').modal('show').show().css('display','block');
        console.log('workingtest000000');
    });
</script>